.about-us {
  margin-top: 60px;

  &__discover {
    background-color: #f9f9f9;
  }
  h6 {
    padding-top: 38px;
    margin-left: 5%;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-transform: uppercase;

    color: #777777;
  }

  h2 {
    margin-top: 22px;
    margin-bottom: 16px;
    margin-left: 5%;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;

    color: #111111;
  }

  p {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 24px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
  }

  button {
    width: 216px;
    height: 60px;
    margin-left: 5%;
    margin-bottom: 175px;
    border: none;
    background: #bdac8d;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .about-pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .strong-team {
    position: relative;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    bottom: 115px;
    background: #ffffff;
    padding-bottom: 45px;
    box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  }
  .persons-img {
    position: relative;
    margin-top: 54px;
    z-index: 1;
  }
  .persons-shadow {
    position: absolute;
    top: 350px;
    right: 25px;
  }

  h4 {
    margin-top: 29px;
    margin-bottom: 21px;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
  }

  .luxury_container {
    width: 270px;
    text-align: center;
    margin: 0 auto;
    &__pic {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    &__body {
      position: relative;
      bottom: 4px;
      background-color: #222222;
      .img-calendar {
        margin-top: 54px;
      }
      h4 {
        font-family: "Old Standard TT";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.9px;

        color: #ffffff;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-bottom: 38px;
        color: #ffffff;
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .about-us {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    &__discover {
      width: 40%;
      p {
        font-size: 16px;
        padding-top: 65px;
        padding-bottom: 60px;
      }
    }
    .strong-team {
      display: flex;
      flex-direction: row-reverse;
      margin: 30px;
      column-gap: 20px;
      padding-bottom: 0px;
      width: 95%;
      position: inherit;
      &__title-box {
        p {
          font-size: 18px;
        }
      }
    }
    .about-pic {
      width: 270px;
      height: 300px;
      object-fit: cover;
    }
    .persons-shadow {
      position: inherit;
    }
    .luxury_container {
      display: flex;
      column-gap: 20px;
      width: 95%;
    }
  }
}
