.black{
    
background-color: #222222;
margin-top: 60px;
&__list{
    padding-top:46px ;
    text-align: center;
    img{   
         margin-bottom: 16px;
        }
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        text-align: center;

        color: #FFFFFF;
        sub{
            font-size:35px
        }
    }
    h6{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;

        color: rgba(153, 153, 153, 1);
    }

    &__last{
        padding-bottom: 48px;
    }
}
}