.about-us__home{
    background-color: #333333;
    p:first-child{
        margin-left: 5%;
        padding-top: 75px;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 2.8px;

        color: #FFFFFF;
    }
    h1{
        margin-left: 5%;
        margin-top:16px;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;

        color: #FFFFFF;
    }

    &-about {
        width: 156px;
        height: 49px;
        display: flex;
        margin-top: 47px;
        justify-content: space-around;
        align-items: center;
        margin-left: 50%;
        background-color: #FFFFFF;
        h6{
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            letter-spacing: -0.48px;

            color: #222222;
        }
        span{
            color:rgba(190, 173, 142, 1) ;
        }
    }
}
.about-us__body{
    &-video{
        margin: 0 auto;
        margin-top:60px;
        width:90%;
        video{
            width: 100%;
        }
        p{
            margin-top:36px;
            // margin-left: 5%;
            font-family: 'Old Standard TT';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -1.16px;

            color: #222222;
        }
    }
}
.about-us__icons{
    width: 90%;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 31px;
    text-align: center;
    &-plane{
        filter: brightness(55%) sepia(1)
    }
    &-group{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        p{
            margin-top:13px;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 2.4px;
            text-transform: uppercase;

            color: #222222;
        }
    }
}

.about-us__restaurant{
    padding-top:60px;
    width: 90%;
    margin: 0 auto;

    &-gourmet{
        img{
            margin-left: 5%;
            width: 85%;
            height: 232px;
        }
    }
    h6{
        margin-top:32px;
        margin-left: 5%;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        color: #777777;
    }
    h2{
        margin-top: 26px;
        margin-left: 5%;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -1.05px;

        color: #222222;
    }
    p{
        width:80%;
        margin-top: 26px;
        margin-left: 5%;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
    }
    button{
        margin-top:16px;
        margin-left: 5%;

        width: 216px;
        height: 60px;
        background: #BEAD8E;
        border:none;
        box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.36);
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

}


.about-us__facilities{
    background-color:#222222;
    text-align: center;

    h6{
        padding-top:48px;
        color: #FFFFFF;
    }
    h2{
        padding-top: 16px;
        color: #FFFFFF;
    }
    &_background{
        width: 90%;
        margin: 0 auto;
        margin-top:32px;
        padding-bottom:51px;
        background-color:#292929;
        h4{
            color:#222222;
        }
        h5,p{
            color: #FFFFFF;
        }
    }
    .high-rating{
        padding-bottom: 42px;
    }
}
.about-us__counter{
    width: 90%;
    padding-top:60px;
    margin: 0 auto;

    h6{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        color: #777777;
    }
    h2{
        margin-top:24px ;
        margin-bottom: 36px;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        
        color: #222222; 
    }
    &__list{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 16px;

        &-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                font-family: 'Old Standard TT';
                font-style: normal;
                font-weight: 400;
                font-size: 60px;

                color: #222222;
            }
            h6{
                letter-spacing:0;
            }
           
        }
    }
}